<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        {% if student %}
            Update Student
        {% else %}
            Add Student
        {% endif %}
    </title>

</head>

<body>

<h1>

{% if student %}
    Update Student
{% else %}
    Add Student
{% endif %}

</h1>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Save
    </button>

</form>

<br>

<a href="{% url 'student_list' %}">
    Back to Students
</a>

</body>

</html>