<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student List</title>
</head>

<body>

<h1>Student Management System</h1>

<a href="{% url 'dashboard' %}">
    Dashboard
</a>

<br><br>

<a href="{% url 'student_create' %}">
    Add Student
</a>

<hr>

<h2>Search and Filter</h2>

<form method="GET">

    <input
        type="text"
        name="search"
        placeholder="Search name, email, city, course"
        value="{{ search }}"
    >
    <select name="course">

        <option value="">All Courses</option>

        <option value="Python"
            {% if course =="Python" %}selected{% endif %}>
            Python
        </option>

        <option value="Django"
            {% if course =="Django" %}selected{% endif %}>
            Django
        </option>

        <option value="Java"
            {% if course =="Java" %}selected{% endif %}>
            Java
        </option>

        <option value="Testing"
            {% if course =="Testing" %}selected{% endif %}>
            Testing
        </option>

        <option value="Data Science"
            {% if course =="DataScince" %}selected{% endif %}>
            Data Science
        </option>

    </select>

    <select name="status">

        <option value="">All Status</option>

        <option value="ACTIVE"
            {% if status =="ACTIVE" %}selected{% endif %}>
            Active
        </option>

        <option value="INACTIVE"
            {% if status =="INACTIVE" %}selected{% endif %}>
            Inactive
        </option>

        <option value="COMPLETED"
            {% if status =="COMPLETED" %}selected{% endif %}>
            Completed
        </option>

    </select>

    <button type="submit">
        Search
    </button>

</form>

<hr>

<h2>Sort</h2>

<a href="?sort=name">Name ↑</a> |
<a href="?sort=-name">Name ↓</a> |
<a href="?sort=fees">Fees ↑</a> |
<a href="?sort=-fees">Fees ↓</a> |
<a href="?sort=joining_date">Date ↑</a> |
<a href="?sort=-joining_date">Date ↓</a>

<hr>

{% if messages %}

    {% for message in messages %}

        <p>{{ message }}</p>

    {% endfor %}

{% endif %}

<table border="1" cellpadding="8">

    <tr>

        <th>Student ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Course</th>
        <th>Fees</th>
        <th>Joining Date</th>
        <th>City</th>
        <th>Status</th>
        <th>Actions</th>

    </tr>

    {% for student in page_obj %}

    <tr>

        <td>{{ student.student_id }}</td>

        <td>{{ student.name }}</td>

        <td>{{ student.email }}</td>

        <td>{{ student.phone }}</td>

        <td>{{ student.course }}</td>

        <td>{{ student.fees }}</td>

        <td>{{ student.joining_date }}</td>

        <td>{{ student.city }}</td>

        <td>{{ student.status }}</td>

        <td>

            <a href="{% url 'student_update' student.id %}">
                Update
            </a>

            |

            <a href="{% url 'student_delete' student.id %}">
                Delete
            </a>

        </td>

    </tr>

    {% empty %}

    <tr>

        <td colspan="10">
            No students found.
        </td>

    </tr>

    {% endfor %}

</table>

<br>

<!-- Pagination -->

{% if page_obj.has_previous %}

<a href="?page=1">
    First
</a>

<a href="?page={{ page_obj.previous_page_number }}">
    Previous
</a>

{% endif %}

Page {{ page_obj.number }}
of {{ page_obj.paginator.num_pages }}

{% if page_obj.has_next %}

<a href="?page={{ page_obj.next_page_number }}">
    Next
</a>

<a href="?page={{ page_obj.paginator.num_pages }}">
    Last
</a>

{% endif %}

</body>
</html>